<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-4">
      <h1>Réinitialisation du mot de passe</h1>

      @if (initialized() && !key()) {
        <div class="alert alert-danger">La clef de réinitialisation est manquante</div>
      }

      @if (key() && !success()) {
        <div class="alert alert-warning">
          <span>Choisir un nouveau mot de passe</span>
        </div>
      }

      @if (error()) {
        <div class="alert alert-danger">
          <span
            >Votre mot de passe n&apos;a pas pu être réinitialisé. La demande de réinitialisation n&apos;est valable que 24 heures.</span
          >
        </div>
      }

      @if (success()) {
        <div class="alert alert-success">
          <span><strong>Votre mot de passe a été réinitialisé.</strong> Merci de </span>
          <a class="alert-link" routerLink="/login">connecter</a>.
        </div>
      }

      @if (doNotMatch()) {
        <div class="alert alert-danger">Le nouveau mot de passe et sa confirmation ne sont pas égaux !</div>
      }

      @if (key() && !success()) {
        <div>
          <form name="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
            <div class="mb-3">
              <label class="form-label" for="newPassword">Nouveau mot de passe</label>
              <input
                type="password"
                class="form-control"
                id="newPassword"
                name="newPassword"
                placeholder="Nouveau mot de passe"
                formControlName="newPassword"
                data-cy="resetPassword"
              />

              @let newPasswordRef = passwordForm.get('newPassword')!;
              @if (newPasswordRef.invalid && (newPasswordRef.dirty || newPasswordRef.touched)) {
                <div>
                  @if (newPasswordRef?.errors?.required) {
                    <small class="form-text text-danger">Votre mot de passe est requis.</small>
                  }

                  @if (newPasswordRef?.errors?.minlength) {
                    <small class="form-text text-danger">Votre mot de passe doit comporter au moins 4 caractères.</small>
                  }

                  @if (newPasswordRef?.errors?.maxlength) {
                    <small class="form-text text-danger">Votre mot de passe ne doit pas comporter plus de 50 caractères.</small>
                  }
                </div>
              }

              <jhi-password-strength-bar [passwordToCheck]="newPasswordRef.value" />
            </div>

            <div class="mb-3">
              <label class="form-label" for="confirmPassword">Confirmation du nouveau mot de passe</label>
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="Confirmation du nouveau mot de passe"
                formControlName="confirmPassword"
                data-cy="confirmResetPassword"
              />

              @let confirmPasswordRef = passwordForm.get('confirmPassword')!;
              @if (confirmPasswordRef.invalid && (confirmPasswordRef.dirty || confirmPasswordRef.touched)) {
                <div>
                  @if (confirmPasswordRef?.errors?.required) {
                    <small class="form-text text-danger">Votre confirmation du mot de passe est requise.</small>
                  }

                  @if (confirmPasswordRef?.errors?.minlength) {
                    <small class="form-text text-danger">Votre confirmation du mot de passe doit comporter au moins 4 caractères.</small>
                  }

                  @if (confirmPasswordRef?.errors?.maxlength) {
                    <small class="form-text text-danger"
                      >Votre confirmation du mot de passe ne doit pas comporter plus de 50 caractères.</small
                    >
                  }
                </div>
              }
            </div>

            <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">
              Réinitialiser le mot de passe
            </button>
          </form>
        </div>
      }
    </div>
  </div>
</div>
