<div>
  <div class="d-flex justify-content-center">
    @if (account) {
      <div class="col-md-8">
        <h2>
          Changer le mot de passe pour [<strong>{{ account()?.login }}</strong
          >]
        </h2>

        @if (success()) {
          <div class="alert alert-success"><strong>Le mot de passe a été modifié !</strong></div>
        }
        @if (error()) {
          <div class="alert alert-danger"><strong>Une erreur est survenue !</strong> Le mot de passe n&apos;a pas pu être modifié.</div>
        }
        @if (doNotMatch()) {
          <div class="alert alert-danger">Le nouveau mot de passe et sa confirmation ne sont pas égaux !</div>
        }

        <form name="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
          <div class="mb-3">
            <label class="form-label" for="currentPassword">Mot de passe actuel</label>
            <input
              type="password"
              class="form-control"
              id="currentPassword"
              name="currentPassword"
              placeholder="Mot de passe actuel"
              formControlName="currentPassword"
              data-cy="currentPassword"
            />

            @let currentPasswordRef = passwordForm.get('currentPassword')!;
            @if (currentPasswordRef.invalid && (currentPasswordRef.dirty || currentPasswordRef.touched)) {
              <div>
                @if (currentPasswordRef?.errors?.required) {
                  <small class="form-text text-danger">Votre mot de passe est requis.</small>
                }
              </div>
            }
          </div>

          <div class="mb-3">
            <label class="form-label" for="newPassword">Nouveau mot de passe</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              placeholder="Nouveau mot de passe"
              formControlName="newPassword"
              data-cy="newPassword"
            />

            @let newPasswordRef = passwordForm.get('newPassword')!;
            @if (newPasswordRef.invalid && (newPasswordRef.dirty || newPasswordRef.touched)) {
              <div>
                @if (newPasswordRef?.errors?.required) {
                  <small class="form-text text-danger">Votre mot de passe est requis.</small>
                }

                @if (newPasswordRef?.errors?.minlength) {
                  <small class="form-text text-danger">Votre mot de passe doit comporter au moins 4 caractères.</small>
                }

                @if (newPasswordRef?.errors?.maxlength) {
                  <small class="form-text text-danger">Votre mot de passe ne doit pas comporter plus de 50 caractères.</small>
                }
              </div>
            }

            <jhi-password-strength-bar [passwordToCheck]="newPasswordRef.value" />
          </div>

          <div class="mb-3">
            <label class="form-label" for="confirmPassword">Confirmation du nouveau mot de passe</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Confirmation du nouveau mot de passe"
              formControlName="confirmPassword"
              data-cy="confirmPassword"
            />

            @let confirmPasswordRef = passwordForm.get('confirmPassword')!;
            @if (confirmPasswordRef.invalid && (confirmPasswordRef.dirty || confirmPasswordRef.touched)) {
              <div>
                @if (confirmPasswordRef?.errors?.required) {
                  <small class="form-text text-danger">Votre confirmation du mot de passe est requise.</small>
                }

                @if (confirmPasswordRef?.errors?.minlength) {
                  <small class="form-text text-danger">Votre confirmation du mot de passe doit comporter au moins 4 caractères.</small>
                }

                @if (confirmPasswordRef?.errors?.maxlength) {
                  <small class="form-text text-danger"
                    >Votre confirmation du mot de passe ne doit pas comporter plus de 50 caractères.</small
                  >
                }
              </div>
            }
          </div>

          <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">Sauvegarder</button>
        </form>
      </div>
    }
  </div>
</div>
